@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1200px)
{
   .bg-hero
   {
      width:2000px;
      height:300px;
      left:40%;

      @apply absolute rounded-l-full top-32 overflow-x-visible bg-blue-500

   }

}


